<GeneralContainer>
  <button class='btn btn-info' type='button' {{on 'click' this.nextPage}}>
    Increase
  </button>
  <div class='grid'>
    {{#each this.model as |grid|}}
      <div class='row'>
        {{#each grid as |product|}}
          <Product @product={{product}} />
        {{/each}}
      </div>
    {{/each}}
  </div>
</GeneralContainer>