<GeneralContainer>
  <div class='grid'>
    {{#each this.model as |grid|}}
      <div class='row'>
        {{#each grid as |product|}}
          <Product @product={{product}} />
        {{/each}}
      </div>
    {{/each}}
  </div>
</GeneralContainer>