{{page-title 'Landing'}}
<div class="landing_page">
  <p class="heading">Browse PhotoShop</p>
  <LinkTo @route='index' @model='1'>
    <button class='btn btn-warning'>Let's Go!</button>
  </LinkTo>
</div>
{{outlet}}